<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="toolbar" role="banner">
  <nav>
    <h1>
      <a routerLink="">Home</a>
    </h1>
  </nav>
  <nav>
    <h1>
      <a routerLink="/games">Games</a>
    </h1>
  </nav>
  <nav>
    <h1>
      <a routerLink="/bets">Bets</a>
    </h1>
  </nav>
  <div class="topnav-right">
    <nav>
      <h1>
        <a routerLink="/users">Login</a></h1>
    </nav>
  </div>
</div>

<router-outlet></router-outlet>

<footer>
  <p>&copy; TWP 2019</p>
</footer>

