<div *ngIf="bet; else nobets">
  <h1>Your bets</h1>
  <div>
    <mat-card *ngFor="let bet of bets" style="margin-top:10px;">
      <mat-card-header>
        <mat-card-title>{{bet.game}}</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          <!--{{game.match_status}}-->
        </p>
      </mat-card-content>
      <mat-card-actions (click)="getGame(bet.game)">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Bet details
              </mat-panel-title>
              <mat-panel-description>
                Click to see details about this bet
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngIf="game">
              <p>{{game.matchHomeTeamName}}({{game.matchHomeTeamScore}}) Vs {{game.matchAwayTeamName}}({{game.matchAwayTeamScore}})</p>
            </div>
            <p>Winner: {{bet.gameBet}}</p>
            <p>Balance: {{bet.balance}}</p>
          </mat-expansion-panel>
        </mat-accordion>

      </mat-card-actions>
    </mat-card>
  </div>
</div>


<ng-template #nobets>
  <h1>You have no bets!!!</h1>
  <h2>Let's bet, choose a game that you are most sure of the results... <br>
    or take a chance, the less likely, the higher the return: </h2><br>
  <a routerLink="../games">Games</a>
</ng-template>
