<div class="col-md-12 mx-auto mb-5 d-flex justify-content-center align-items-center flex-wrap">
  <button mat-button (click)="onSubmitEng()">Premier League</button>
  <button mat-button (click)="onSubmitBr()">Campeonato Brasileiro</button>
  <button mat-button (click)="onSubmitPt()">Primeira Liga</button>
</div>

<ngb-toast *ngIf="games.length === 0" class="col-md-12 mx-auto mb-5 d-flex justify-content-center align-items-center flex-wrap">
  Please, select a league.
</ngb-toast>

<div class="justify-content-center align-items-center flex-wrap">
  <div *ngFor="let game of games">
    <ngb-accordion [closeOthers]="true" activeIds="static-1" class="align-content-center">
      <ngb-panel title="{{game.match_hometeam_name}} {{game.match_hometeam_score}} vs {{game.match_awayteam_score}} {{game.match_awayteam_name}}">
        <ng-template ngbPanelContent>
          <p *ngIf="game.league_name === 'Primeira Liga'">League: {{game.league_name}}<img src="https://www.thesportsdb.com/images/media/league/badge/cplp641535733210.png" style="width:220px;height:220px;margin-left:15px;"></p>
          <p *ngIf="game.league_name === 'Premier League'">League: {{game.league_name}}<img src="https://www.thesportsdb.com/images/media/league/badge/i6o0kh1549879062.png" style="width:220px;height:220px;margin-left:15px;"></p>
          <p *ngIf="game.league_name === 'Serie A'">League: {{game.league_name}}<img src="https://www.thesportsdb.com/images/media/league/badge/d97d4v1549879038.png" style="width:220px;height:220px;margin-left:15px;"></p>
          <p>Match date: {{game.match_date}}</p>
          <p>Match time: {{ game.match_time }}</p>
          <p class="align-self-center">{{game.match_hometeam_score}} vs {{game.match_awayteam_score}}</p>
          <p>Home team system: {{ game.match_hometeam_system }}</p>
          <p>Away team system: {{ game.match_awayteam_system }}</p>
          <p>Half time home team score: {{ game.match_hometeam_halftime_score }}</p>
          <p>Half time away team score: {{ game.match_awayteam_halftime_score }}</p>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
